---
layout: layout.njk
---

<section id="main" class="spot-page">
  <div class="inner">

    {% if main_image %}
      <span class="image main">
        <img src="{{ main_image | url }}" alt="{{ title }}">
      </span>
    {% endif %}

    <h1 class="spot-title">{{ title }}</h1>

    <div class="spot-body">
      {{ content | safe }}
    </div>

    <div class="menu-line"></div>

      <div class="city-footer">
        <a href="/generic_{{ city }}/" class="btn-outline">
          Explore more spots in {{ city | capitalize }}
        </a>
      </div>

  </div>
</section>