<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	
{% include "header.njk" %}	
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>On our way</h1>
							
							
							<div class="menu-line"></div>
							<div class="city-footer">
							  <p class="inner">
								We're walking toward this city — step by step.  <br>
								A few street corners, a café or two...  <br>
								Once it feels right, we’ll show you what we found.
							  </p>
							  <a href="/#explore-city" class="btn-outline">Explore Other Cities
</a>
							</div>
							
						</div>
					</div>

{% include "footer.njk" %}

	</body>
</html>