<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	
{% include "header.njk" %}	


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Tokyo</h1>
							<div class="map-wrapper">
							  <img src="/images/tokyo_map4.png" alt="tokyo Map" class="responsive-map" />
							</div>

							
							<!--  FILTER MENU -->
							<div class="category-menu-wrapper">
							  <button class="category-toggle">Select Area <i class="fas fa-bars"></i></button>
							  <nav class="category-nav">
								<a href="#" class="filter-btn active" data-filter="all">All</a>
								<a href="#" class="filter-btn" data-filter="group-1">zone red</a>
								<a href="#" class="filter-btn" data-filter="group-2">zone blue </a>
								<a href="#" class="filter-btn" data-filter="group-3">Elsewhere</a>
							  </nav>
							</div>

							<!-- CARD SECTION -->
							<section class="cd-gallery">
							 <ul>
							  {% for post in collections.tokyoPosts %}

								<li class="mix group-{{ post.data.location_group | default('4') }}">

								  <div class="cd-title">{{ post.data.title }}</div>

								  {% if post.data.location_text %}
									<div class="cd-location">{{ post.data.location_text }}</div>
								  {% endif %}

								  {% if post.data.main_image %}
									<img src="{{ post.data.main_image | url }}" alt="{{ post.data.title }}">
								  {% endif %}

								  {% if post.data.description %}
									<p class="desc">{{ post.data.description }}</p>
								  {% endif %}

								  <div class="button-container">
									<a href="{{ post.url }}" class="btn-fullstory">Full Story</a>
								  </div>

								</li>

							  {% endfor %}
							 </ul>
								
							</section>
							<div class="menu-line"></div>
							<div class="city-footer">
							  <p class="inner">
								Tokyo is a city shaped by precision, contrast, and quiet rhythm.<br>
								From backstreets to refined design spaces, every scene feels carefully composed.<br>
								Let us take you through places where everyday moments reveal a distinct sense of beauty.
							  </p>
							  <a href="/#explore-city" class="btn-outline">Explore Other Cities
</a>
							</div>
							
						</div>
					</div>
{% include "footer.njk" %}
	</body>
</html>