<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
	
{% include "header.njk" %}	
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Still in bloom</h1>	
							<div class="menu-line"></div>
							<div class="city-footer">
							  <p class="inner">
								There’s nothing here yet, and that’s okay.<br>
								Some cities take their time to unfold.<br>
								Let’s meet again when it’s ready.
							  </p>
							  <a href="/#explore-city" class="btn-outline">Explore Other Cities
</a>
							</div>
							
						</div>
					</div>

{% include "footer.njk" %}

	</body>
</html>